#menu ul {
    padding: 15px;
    margin:-10px;
    text-align: center;
    background-color: rgb(27, 84, 111);
    list-style:none;
}

#menu ul li { 
    display: inline;
    color: rgb(46,142,188);
 }

#menu ul li a {
    padding: 2px 20px;  
    display: inline-block;

    
    background-color:rgb(27, 84, 111);
    color: rgb(46, 142, 188);
    text-decoration: none;    
    
}

#menu ul li a:hover {
    background-color: rgb(27, 84, 111);
    color: #6D6D6D;
    border-bottom:3px solid #f8f6f6;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0px;
    background-color: rgb(250,239,222);
}

#imagem img{
width: 100vw;
height: 30vw;

  
}

#container1{
    width: 80vw;
    height: 60vw;
    background-color: white;  
    position: relative;
    top: -70px;
}

.container{
    position: relative;
    

}

#rodape{
    padding: 5px;
    margin: 70px;
    margin-right: -10px;
    text-align: center;
    background-color: rgb(27, 84, 111);
    list-style: none;
}

#inema{
    background-color: white;  
    position:absolute;
    bottom:0;
    width:100%;
  
}

#inema img{
    width:20vw;
    height: 20vw;
}

#pedding{
    width: 20vw;
    height: 20vw;
}

.bluecard {
    width: 250px;
    height: 250px;
    background-color:  rgb(27, 84, 111);
    position: relative;
    top: -75px;
    left: 300px;
     
    
    
}

.bluecard2 {
    width: 200px;
    height: 45px;
    background-color:  rgb(27, 84, 111);
    position: relative;
    top: 0px;
    left: 300px;
     
    
    
}