#menu ul {
  padding: 15px;
  margin: -10px;
  text-align: center;
  background-color: rgb(27, 84, 111);
  list-style: none;
}

#menu ul li {
  display: inline;
  color: rgb(46, 142, 188);
}

#menu ul li a {
  padding: 2px 20px;
  display: inline-block;
  background-color: rgb(27, 84, 111);
  color: rgb(46, 142, 188);
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: rgb(27, 84, 111);
  color: #6d6d6d;
  border-bottom: 3px solid #f8f6f6;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0px;
  background-color: rgb(250, 239, 222);
}

.imagem img {
  width: 100vw;
  height: 30vw;
}

#container1 {
  width: 80vw;
  height: 100vw;
  background-color: white;
  position: relative;
  top: -70px;
  bottom: 40px;
}

.container1,
h2 {
  color: rgb(27, 84, 111);
}

.container1,
p {
  color: black;
}

.container {
  position: relative;
}

#rodape {
  padding: 4px;
  margin: 95px;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  background-color: rgb(27, 84, 111);
  list-style: none;
  position: relative;
  top: 25vw;
}

#inema {
  background-color: white;
  position: absolute;
  bottom: 30;
  width: 100%;
}

#inema img {
  width: 20vw;
  height: 20vw;
}

#pedding {
  width: 20vw;
  height: 20vw;
}

.bluecard,
h {
  width: 20vw;
  height: 25vw;
  background-color: rgb(27, 84, 111);
  position: relative;
  color: rgb(43, 132, 174) !important;
  top: -200px;
  left: 350px;
  text-align: center;
}

.bluecard,
p {
  color: black;
}

.bluecard2,
h {
  width: 200px;
  height: 45px;
  background-color: rgb(27, 84, 111);
  color: white;
  position: relative;

  text-align: center;

  top: -150px;
  left: 350px;
}

.objetivos {
  width: 200px;
  height: 45px;
}

.regras,
h {
  position: relative;
  text-align: center;
  color: rgb(27, 84, 111);
}
.regras #regras,
li {
  text-align: left !important;
  margin: 10px !important;
  margin-left: 270px !important;
  font-size: 20px;
}

.sobre {
  height: 100%;
  color: rgb(27, 84, 111);
}

h {
  color: rgb(43, 132, 174);
}

.borda {
  width: 400px;
  height: 150px;
  border-width: 5px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 37%;
  right: 37%;
  border-radius: 20px;
  border-top: rgb(27, 84, 111);
  border-bottom: rgb(27, 84, 111);

  color: rgb(121, 120, 120);
}

#box1 {
  border-radius: 20px;
}

p,
h1,
a,
span {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: pink;
}

a:active {
  text-decoration: none;
  color: green;
}

.hr-s {
  margin: 80px 80px 80px 80px;
}

#concurso {
  
}
